 /* Unofficial button styles for now. Will be replaced with iamge later */
.deleteButton{
  text-align: center;

  background: #FF0000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.deleteText{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  color: #000000;
}

.outerBox{
  position: absolute;
  width: 300px;
  height: 371px;
  left: 1025px;
  top: 238px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: auto;
}
