<p>confirm-dietary-tags works!</p>

<div class = "box">
  <h1 class="title"> Dietary Tags </h1>
  <h6 class="subtitle"> The following dietary restriction tags have been generated for this item. Please add any missing tags and delete any that are not applicable. </h6>

  <h2 class="tagHeader1"> Selected Dietary Tags:</h2>

  <div class="dietaryTagsBox horScroll">
    <div *ngFor="let x of tagNames" class="tag1">
    <app-tags [tagName]="x"></app-tags>
    </div>
  </div>

  <!-- <textarea class="inputBox prompt" type="text" [(ngModel)]="dietaryRestriction" [placeholder]="prompt"  ></textarea> -->

  <h2 class="tagHeader2"> Suggested Dietary Tags:</h2>

  <div class="dietaryTagsBox2 horScroll">
    <div *ngFor="let x of dummyTagSuggestions" class="tag2">
    <app-suggested-tags [tagName]="x"></app-suggested-tags>
    </div>
  </div>

  <button class="saveButt" (click)="save()">Save & Close </button>

</div>
