
<table>
  <tr>
    <th class = "tableLabel"> Select </th>
    <th class = "tableLabel"> Table No. </th>
    <th class = "tableLabel"> Order </th>
    <th class = "tableLabel"> Quantity </th>
    <th class = "tableLabel"> Dietary Restrictions </th>
    <th class = "tableLabel"> Special Notes </th>
    <th class = "tableLabel"> Status </th>
    <th class = "tableLabel"> Tab </th>
  </tr>
  <tr>
  <td><input class="radioButt" type="radio" id="NUM" name="select_table" value="TABLE ID"></td>
  <td  class="dataLabel">1</td>
  <td class="dataLabel" >Menu Item 2</td>
  <td class="dataLabel">1</td>
  <td class="dataLabel">Kosher</td>
  <td class="dataLabel"></td>
  <td class="dataLabel">NEW!</td>
  <td class="dataLabel">$2.00</td>



  </tr>

</table>
