a{
  font-weight: bold;
  text-decoration: none;
}

.tableButton{
  width:100%;
  height:100%;
  border:none;
}

table{
width: 100%;
height: 100%;
background: #FFFFFF;
}

td, table{
  border: 1px solid black;
}

th{
  position: sticky;
  height: 30px;
  z-index: 1;
  top:0;
  border: 1px solid black;
  background-color: white;
}

.scrollable {
  position: absolute;
  width: 1229px;
  height: 250px;
  left: 119px;
  top: 240px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

.tableLabel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 4px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #000000;
}

.radioButt{
  width: 48px;
  height: 50px;
  background: #EAEC8E;

  /* background: #FFFFFF; */
  border: 1px solid #000000;
  box-sizing: border-box;
  align-items: center;
}

.dataLabel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;

  color: #000000;
  /* background: #EAEC8E;  must change this dynamically*/
}

.inProgressButton{
  position: absolute;
  width: 265px;
  height: 79px;
  left: 119px;
  top: 573px;

  background: #8ED0EC;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;

  color: #000000;
}

.completedButton{
  position: absolute;
  width: 265px;
  height: 79px;
  left: 438px;
  top: 573px;

  background: #AEECB8;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;

  color: #000000;
}

.paidButton{
  position: absolute;
  width: 265px;
  height: 79px;
  left: 763px;
  top: 573px;

  background: #FFBF81;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;

  color: #000000;
}

.pastOrdersButton{
  position: absolute;
  width: 265px;
  height: 79px;
  left: 1080px;
  top: 573px;

  background: #C2AEEC;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.new{
  background-color: #EAEC8E;
}

.inProgress{
  background-color: #8ED0EC;
}

.completed{
  background-color: #AEECB8;
}
