<!-- <p>order-summary works!</p> -->
<app-header></app-header>
<a routerLink="/Waitless/{{restaurantID}}/{{tableNum}}"><button class="backButton"> < </button> </a>
<h1 class="title">{{restaurantName}}</h1>
<h2 class="subheader">Order</h2>

<hr class = "horizontalLine1">

<div class = "scrollable" >
  <table>
    <ng-container *ngFor="let x of order">

    <tr>
        <td class="menuText">{{x.quantity}}</td>
        <td class="menuText">{{x.itemName}}</td>
        <td class="menuText">${{x.price}}</td>
    </tr>

    <tr>
        <td></td>
        <td class="dietaryRestrictionsText">{{x.formatDietaryRestrictions}}</td>
        <td></td>
    </tr>

  </ng-container>
  </table>
</div>

<hr class = "horizontalLine2">

<p class="totalText"> Total: </p>
<P class = "totalNumText"> ${{total}}</P>

<hr class = "horizontalLine3">

<h2 class = "specialNotesText"> Special Notes </h2>

<hr class = "horizontalLine4">

<textarea class="specialNotesTextbox" type="text" [(ngModel)]="notes" [placeholder]="prompt"  ></textarea>

<button class="confirmButt" (click)="notesTest()" routerLink="/Waitless/{{restaurantID}}/{{tableNum}}/Order_Confirmation"> Confirm </button>
