<!-- <p>main-menu works!</p> -->
<app-header></app-header>
<br><br><br><br>
<h1 class="title">{{restaurantName}} Menu</h1>
<br><br><br><br>

<div class="dietaryTagsBox horScroll">
  <div *ngFor="let x of tags" class="tag">
  <app-tags [tagName]="x"></app-tags>
  </div>
</div>

<button class="dietaryRestrictionsButt dietaryRestrictionsText" (click)="updates()" routerLink="/Waitless/{{restaurantID}}/{{tableNumber}}/DietaryRestictions"> Add Dietary Restrictions</button>
<h2 class="infoText">Click menu item for more information</h2>

<div class="outerBox" *ngIf="dataList.length > 0">
    <div class="separators" *ngFor="let x of dataList">
      <button class="itemButtons" (click)="updates()" routerLink="/Waitless/{{restaurantID}}/{{tableNumber}}/{{x.id}}">

      <label class="nameLabel"> {{x.itemName}}</label><br>
      <label class="descriptionLabel"> {{x.description}}</label><br>
      <label class="priceLabel"> ${{x.price}}</label><br>

      </button>
      <article class = "dropdown ">
          <select (change)="selectChangeHandler($event, x.id)">
            <option *ngIf="x.quantity" value="" disabled selected>{{x.quantity}}</option>

            <ng-container *ngFor="let i of nums" >
              <option value={{i}}>{{i}}</option>
              </ng-container>
          </select>
          <!-- <p><span>You selected: </span><b>{{selectedDay}}</b></p> -->
      </article>
      </div>
</div>
<button class="submitOrderButt submitOrderText" (click)="updates()" routerLink="/Waitless/{{restaurantID}}/{{tableNumber}}/Order_Summary">Submit Order</button> <!-- this button needs to go to a function that sends the order to the dashboard, goes to confirmation step-->
