<app-header></app-header>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<a *ngIf="mode=== 'create'" routerLink="/Waitless/Registration"><button class="backButton"> < </button> </a>
<a *ngIf="mode=== 'edit'" routerLink="/Waitless/{{restaurantName}}/Create_Menu"><button class="backButton"> < </button> </a>

 <!-- <input type="button" onclick="/Waitless/Registration"/ value"<">  -->

<p class="createMenuLabel">Create Menu </p>

<p *ngIf="mode=== 'create'"class="instruct">Please Enter A Menu Item </p>
<p *ngIf="mode=== 'edit'"class="instruct">Editing: {{data.itemName}} </p>
<p class="menuTitle">User Menu Preview </p>

<form [formGroup]='form'(submit)="onSaveItem()">
  <p *ngFor="let x of labelText; let i = index" [attr.data-index]="i">

    <!-- <label [ngClass]= "mode == 'create' ? ['x.st'] : ['data.itemName']" class="labelText"  > {{x.label}}</label> -->
    <label class="labelText" [class]="x.st"> {{x.label}}  </label>
    <!-- <textarea [ngClass]="x.tbClass" class="promptText" type="text" [name]="x.inVar" #name="ngModel" [ngModel]="menu" [placeholder]="x.prompt" required ></textarea> -->
    <textarea  class="promptText" [class]="x.tbClass" type="text" [formControlName]="x.inVar" [placeholder]="mode == 'edit' ? [data[menuLabels[i]]] :  [x.prompt]"  ></textarea>

  </p>
  <label class="uploadImageLabel"> Image </label>

  <button *ngIf="mode=== 'create'" type="button" class="uploadImageButt uploadButtonTxt" (click)="filePicker.click()">Upload</button>
  <button *ngIf="mode=== 'edit'" type="button" class="uploadImageButt uploadButtonTxt" (click)="filePicker.click()">Change Image</button>

  <input class="uploadImageButt"  type="file" #filePicker (change)="onImagePicked($event)">
  <div class="imagePreview" *ngIf="(imagePreview !== '' && imagePreview && form.get('image').valid) || form.get('image').valid">
    <img [src]="imagePicker === 'True' ? imagePreview : form.value.image " [alt]="form.get('image').invalid ? 'no image' : form.value.itemName " >
  </div>

  <!-- <div class="imagePreview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
    <img [src]="form.value.image" [alt]="form.get('image').invalid ? 'no image' : form.value.itemName " >
  </div> -->

  <!-- <form (submit)="onAddItem(menuForm)" #menuForm="ngForm" > -->
    <!-- <p *ngFor="let x of labelText; let i = index" [attr.data-index]="i"> -->
      <!-- <label [ngClass]= "x.st" class="labelText"  > {{x.label}}</label> -->
      <!-- <textarea [ngClass]="x.tbClass" class="promptText" type="text" [name]="x.inVar" #name="ngModel" [ngModel]="menu" [placeholder]="mode == 'create' ? [x.prompt] : [data]" required ></textarea> -->
    <!-- </p> -->
  <button *ngIf="mode=== 'create'" type="submit" class="addButt addText">Add </button>
  <button *ngIf="mode=== 'edit'" type="submit" class="addButt addText">Save Edits </button>
</form>
<!-- (form.get('itemName').invalid || form.get('price').invalid)  -->
<p class="errorMsg" *ngIf="(form.get('itemName').invalid || form.get('description').invalid || form.get('ingredients').invalid || form.get('price').invalid || form.get('calories').invalid) && mode=='create'"> *PLEASE FILL IN ALL FIELDS </p>

<button *ngIf="(form.get('itemName').invalid && form.get('description').invalid && form.get('ingredients').invalid && form.get('price').invalid && form.get('calories').invalid) && mode=='create' " class="saveButt saveAndExitText" (click)="saveAndExit()" type="submit">Save and Exit </button>
<!-- <button *ngIf="(form.get('itemName').invalid && form.get('description').invalid && form.get('ingredients').invalid && form.get('price').invalid && form.get('calories').invalid) && mode=='create'&& first == true" class="skipButt skipLabel" (click)="saveAndExit()" type="submit">Skip for Now </button> -->

<!-- <p class="errorMsg" *ngIf="menuForm.invalid"> *PLEASE ENTER DATA IN FOR FIELDS </p> -->

<app-mini-menu></app-mini-menu>
