<!-- <p>order works!</p> -->
<app-header></app-header>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<br><br><br><br>

<a *ngIf="mode== 'Dashboard'" routerLink="/Waitless/{{name}}/Dashboard"><button class="backButton"> < </button> </a>
<a *ngIf="mode== 'pastOrders'" routerLink="/Waitless/{{name}}/PastOrders"><button class="backButton"> < </button> </a>

<h1 *ngIf="mode== 'Dashboard'" class="title">Table #{{currentOrder[0].tableNum}}</h1>
<h1 *ngIf="mode== 'pastOrders'" class="title">Order #{{currentOrder.id}}</h1>
<h2 class="orderInformation">Order Information</h2>

<div *ngIf="mode== 'Dashboard'" class = "orderInfoBox scrollable">
  <table>
    <tr>
      <th class = "tableLabel"> Quantity </th>
      <th class = "tableLabel"> Order </th>
    </tr>
    <tr>
        <td class = "tableText">
          <ng-container *ngFor="let item of currentOrder[0].order">
                    <p>{{item.quantity}}</p>
          </ng-container></td>
        <td class = "tableText">
          <ng-container *ngFor="let item of currentOrder[0].order">
                  <p>{{item.itemName}}</p>
        </ng-container></td>
    </tr>
  </table>
</div>

<div *ngIf="mode== 'Dashboard'" class = "dietaryRestrictionsBox scrollable">
  <table>
    <tr>
      <th class = "tableLabel"> Dietary Restrictions </th>
    </tr>
    <tr>
        <td class = "tableText">
          <ng-container *ngFor="let item of currentOrder[0].order">
                  <p>{{item.formatDietaryRestrictions}}</p>
          </ng-container></td>
    </tr>
  </table>
</div>

<div *ngIf="mode== 'Dashboard'" class ="specialNotes scrollable">
  <table>
    <tr>
      <th class = "tableLabel"> Special Notes </th>
    </tr>
    <tr>
        <td class = "tableText">{{currentOrder[0].specialNotes}}</td>
    </tr>
  </table>
</div>

<div *ngIf="mode== 'Dashboard'" class ="miniBar">

  <table>
    <tr>
      <th class = "tableLabel">Status</th>
      <td class = "tableText">{{currentOrder[0].status}}</td>
    </tr>
    <tr>
      <th class = "tableLabel">Tab</th>
      <td class = "tableText">${{currentOrder[0].tab}}</td>
    </tr>
  </table>
 </div>

 <h2 *ngIf="mode== 'Dashboard'" class="updateOrderStatusLabel"> Update Order Status </h2>
 <button *ngIf="mode== 'Dashboard'" class="inProgressButton"  (click)="updateProgress('In Progress')">In Progress</button>
 <button *ngIf="mode== 'Dashboard'" class="completedButton" (click)="updateProgress('Complete')">Completed</button>
 <button *ngIf="mode== 'Dashboard'" class="paidButton" (click)="updateProgress('Paid')">Paid</button>
 <button *ngIf="mode== 'Dashboard'" class ="cancelButton" (click)="cancel()">Cancel Order</button>



 <div *ngIf="mode== 'pastOrders'" class = "orderInfoBox2 scrollable">
   <table>
     <tr>
       <th class = "tableLabel"> Quantity </th>
       <th class = "tableLabel"> Order </th>
     </tr>
     <tr>
         <td class = "tableText">
           <ng-container *ngFor="let item of currentOrder.order">
                  <p>{{item.quantity}}</p>
            </ng-container></td>
         <td class = "tableText">
           <ng-container *ngFor="let item of currentOrder.order">
                 <p>{{item.itemName}}</p>
       </ng-container></td>
     </tr>
   </table>
 </div>

 <div *ngIf="mode== 'pastOrders'" class = "dietaryRestrictionsBox2 scrollable">
   <table>
     <tr>
       <th class = "tableLabel"> Dietary Restrictions </th>
     </tr>
     <tr>
         <td class = "tableText">
           <ng-container *ngFor="let item of currentOrder.order">
              <p>{{item.formatDietaryRestrictions}}</p>
          </ng-container></td>
     </tr>
   </table>
 </div>

 <div *ngIf="mode== 'pastOrders'" class ="specialNotes2 scrollable">
   <table>
     <tr>
       <th class = "tableLabel"> Special Notes </th>
     </tr>
     <tr>
         <td class = "tableText">{{currentOrder.specialNotes}}</td>
     </tr>
   </table>
 </div>

 <div *ngIf="mode== 'pastOrders'" class ="miniBar2">

   <table>
     <tr>
       <th class = "tableLabel">Status</th>
       <td class = "tableText">{{currentOrder.status}}</td>
     </tr>
     <tr>
       <th class = "tableLabel">Tab</th>
       <td class = "tableText">${{currentOrder.tab}}</td>
     </tr>
     <tr>
       <th class = "tableLabel">Time</th>
       <td class = "tableText">{{currentOrder.timeCompleted}}</td>
     </tr>
   </table>
  </div>

<app-cancel-confirmation *ngIf="cancelClicked"  buttonClicked="cancel"></app-cancel-confirmation>
<app-cancel-confirmation *ngIf="paidClicked"  buttonClicked="paid" [orderNum]="currentOrder[0].id"></app-cancel-confirmation>
