<p>dietary-restrictions works!</p>
<app-header></app-header>
<a routerLink="/Waitless/{{restaurantName}}/{{tableNum}}"><button class="backButton"> < </button> </a>

<h1 class="title">Dietary Restrictions</h1>
<h3 class="subText">Add dietary restrictions to filter out incompatible menu items. Dietary restriction tags can be added or removed at any time during ordering</h3>
<h2 class="tagHeader1"> Selected Dietary Tags:</h2>

<div class="dietaryTagsBox horScroll">
  <div *ngFor="let x of tagNames" class="tag1">
  <app-tags [tagName]="x"></app-tags>
  </div>
</div>

<hr class = "horizontalLine">

<h2 class="tagHeader2"> Suggested Dietary Tags:</h2>

<div class="dietaryTagsBox2 horScroll">
  <div *ngFor="let x of dummyTagSuggestions" class="tag2">
  <app-suggested-tags [tagName]="x"></app-suggested-tags>
  </div>
</div>


 <textarea class="inputBox prompt" type="text" [(ngModel)]="dietaryRestriction" [placeholder]="prompt"  ></textarea>
<button class="saveButt" routerLink="/Waitless/{{restaurantName}}/{{tableNum}}">Save </button>
