<!-- <p>menu-item works!</p> -->
<app-header></app-header>
<a routerLink="/Waitless/{{restaurantID}}/{{tableNum}}"><button class="backButton"> < </button> </a>
<h1 class="title">{{data.itemName}}</h1>
<div class = "descriptionBox scrollable">
  <p class="description">{{data.description}}</p>
</div>

<div class = "imageBox">

  </div>

<h2 class="ingListTextTitle"> Ingredients List: </h2>

<div class = "ingListBox scrollable">
  <p class ="ingListText ">{{ data.ingredients}}</p>
</div>

<p class="calText">({{data.calories}} Cal)</p>

<h2 class="QuantityText">Quantity</h2>

<button class="plusButt" (click)='increaseQuant()'> + </button>
<button class="minusButt" (click)='decreaseQuant()'> - </button>
<label class="displayNum">{{data.Quantity}}</label>

<button class="saveChangesButt" routerLink="/Waitless/{{restaurantID}}/{{tableNum}}">Save Changes</button>
